/* CSS Document */
body {
	background-color:#ffffff;
/*	background-image:url(../images/back.gif); */
	background-position:top;
	background-repeat:repeat-x;
	color:#333333;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
legend {
	font-size:18px;
	font-weight:bold;
}
img {
	border:0;
}

.diagram {
	margin:18px;
}
	
p {
	font-size:12px;
}
.details {padding:12px 0 12px 0;}
.details p {
margin:4px;
font-size:11px;
}
h1 {
	font-size:18px;
	color:#001337;
}

h3 {
	font-size:12px;
	color:#001337
}

A:link {TEXT-DECORATION: none; color:#055bb4;}
A:visited {TEXT-DECORATION: none; COLOR: #055bb4}
A:hover {TEXT-DECORATION: underline; COLOR: #076dd6}


	
#header {
	height:60px;
	padding: 0;
	margin:0;
	width:890px;
}

#logo {
	background-image:url(../images/logo.gif);
	background-repeat:no-repeat;
	float:left;
	width:150px;
	height:58px;
	}

#nav {
	height:30px;
	padding:30px 0 0 0;
	margin:0 0 0 0;
	float:left;
    }
	

 #nav ul {
    margin:0;
    padding:0;
    list-style:none;
	height:30px;
	}
	
 #nav li {
    float:left;
    background-color: #DDDDDD;
//	background-image:url(../images/tabL.gif);
//  background-repeat: no-repeat ;
//	background-position:left top;
    font-size:12px;
	font-weight:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
    margin:0 0 0 4px;
    padding:0 0 0 0;
	height:30px;
	border: 1px solid black;
 }
	
  #nav li a, #nav li a:visited, #nav li strong, #nav li span {
    display:block;
	color:#333333;
	text-decoration:none;
//    background-image:url(../images/tabR.gif);
//	background-repeat: no-repeat ;
//    background-position:right top;
    padding:8px 8px 5px 6px;
	_padding:8px 8px 6px 6px;
	height:15px;
	_height:auto;
	
    }
	

  #nav #current {
//	background-image:url(../images/tabOnL.gif);
	color:#001337;
	z-index:-2;
    }
  #nav #current a, #current a:hover {
  	display:block;
    background-color: white;
//  	background-image:url(../images/tabOnR.gif);
//	background-repeat: no-repeat ;
//    background-position:right top;
	padding:10px 15px 5px 6px;
	_padding:10px 15px 6px 6px;
	color:#001337;
	height:15px;
	_height:auto;
	border-bottom: 1px solid white;
    }
	
#subnav {
	background-color:#ffffff;
	height:22px;
	padding:8px 0 0 14px;
	_width:100%;
	min-width:980px;
	margin:0;
}
	
#subnavLinks {
	margin:0;
	padding:0;
	list-style:none;
	color:#001337;
	width:980px;
}

#subnavLinks li {
	display:inline;
	padding:0 12px 0 15px;
	border-left:1px solid #cae6b8;
	font-weight:normal;
	margin:0;
}

#subnavLinks li a:link, #subnavLinks li a:visited{
	color:#001337;
	padding: 4px 0 9px 0;

}

#subnavLinks li a:hover {
	
	text-decoration:underline;

}

#subnavLinks li.firstSubNavItem {
	border-left:0;
	padding:0 12px 0 6px;
}


.toplink a:link, .toplink a:visited {
	color:#FFFFFF;
	margin:0 8px 0 8px;
	padding:10px 0 0 0;
}

form {display:inline;}

.toplink {
	float:right;
	text-align:right;
	width:100px;
}

#maincontent {
//	margin:20px;
    margin: 1px 0 0 0;
    padding: 0 0 8px 8px;
	min-width:700px;
	background-color:white;
	border-top:1px solid black
}

.bar {
	background-color:#ecf1f5;
	padding:4px 5px 4px 8px ;
	margin:8px 0 8px 0;
	width:100%;
	font-size:12px;
}

.dim {
	filter: alpha (opacity=50);
	color:#CCCCCC;
	}
	
.light {color:#999999;}

.dotover {
	border-top:1px dotted #90b0c5;
	margin:20px 0 12px 0;
	padding:12px 0 12px 0;
}

.padtop {
	margin-top:16px;
}
.padleft {
	padding-left:16px;
}

#mainpane {
	background-color:#FFFFFF;
	text-align: left;
}
.showme {
	border:1px solid red;
}
.label { 
	text-align:right;
	padding-right:8px;
}
.boldlabel { 
	text-align:right;
	padding-right:8px;
	font-weight:bold;
	color:#333333:
}
.minihead {
	font-weight:bold;
	font-size:10px;
	padding:6px 0 12px 0;
}
input {
	border:1px solid #cccccc;
	font-size:12px;
	color:#666666;
}
select {
	border:1px solid #cccccc;
	font-size:11px;
	color:#666666;
}

th {
	font-weight:normal;
	text-align:right;
	padding-right:8px;
}
#tblhd {margin:0 0 0 12px;
	font-size:11px;
	line-height:1.4em;
			}
#tblhd th {
	font-weight:bold;
	color:#333333;
	font-size:11px;
	text-align:left;
}
.darkrow {
	background-color:#ddffff;
}

.addlineheight {
	line-height:1.6em;
}



/* buttons */

.buttons a, .buttons button {
    margin:12px 0 0 7px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:1.4em;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:2px 7px 2px 7px; /* Links */
}

/* standard */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* positive */

button.positive, .buttons a.positive{
    color:#117310;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#d2eac2;
    border:1px solid #C6D880;
    color:#117310;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* negative */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}



input .inline {display:inline-block;}

.buttons button{
    width:auto;
    overflow:visible;
    padding:1px 10px 2px 7px; /* IE6 */
}
.buttons button[type]{
    padding:2px 10px 2px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:.2em;
	overflow:visible;
					/* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}



 

.center {text-align:center;}

/* end buttons */
	
/* All content below here is used to clear floats in all browsers */

.clearthis:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearthis {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearthis {height: 1%;}

/* End hide from IE-mac */
	
	
