
/* color themes
#A2F1FF
#6DBCCC
#244A99
#FFEBE2
#CC7C6D

#050947
#13657A
#4A9BAD
#473F17
#7A720F

lt blue #A2F1FF
*/

body
{
background-color:white;
color:#244A99;
}
	
.shade1
{
background-color:#CC7C6D;
color:#FFEBE2;
padding:2px;
}

.shade2
{
background-color:#FFEBE2;
color:#244A99;
padding:2px;
}

.shade3
{
background-color:#A2F1FF;
color:#244A99;
padding:2px;
}

.display
{
padding-top:0px;
padding-bottom:0px;
}
	
.box, .infobox
{
border:solid 1px black;
}

.infobox
{
	padding:4px;
}
	
.clicker
{
cursor:pointer;
text-decoration:underline;
}
